{% extends 'base.html' %} 
{% block content %}
  <div class="col-md-8 offset-md-2">
    <h1>{{ category | title }}</h1>
    <hr />
    {% for webdes in webdes %}
    <h2><a href="{% url 'webdes_detail' webdes.pk%}">{{ webdes.name }}</a></h2>
    <small>
      {{ webdes.created_on.date }} |&nbsp; Categories:&nbsp; {% for category in webdes.categories.all %}
      <a href="{% url 'webdes_category' category.title %}">
        {{ category.title }} </a>&nbsp; {% endfor %}
    </small>
    <p>{{ webdes.body | slice:":400" }}...</p>
    {% endfor %}
  </div>
{% endblock %}