{% extends "base-without-navbar.html" %}
{% block page_title %}WDS Register{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="registration-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 d-none d-lg-block form-account-side-content">
             <h3 class="text-center p-5">Websites Design</h3>
            <div class="side-image"><a class="navbar-brand logo" href="/"><img src="/media/images/new_moon.png" width="250" height="250"
                    alt="logo-websites-design-spot"></a></div>
        </div>
        <div class="col-md-8 col-lg-6 pl-lg-0">
            <div class="card">
                <header class="card-header d-md-block d-lg-none">
                    <a class="navbar-brand logo" href="/">
                        <span>WD</span><img src="/media/images/new_moon.png" width="30" height="30" alt="logo-websites-design-spot">
                    </a>
                </header>
                <article class="card-body">
                    <h2 class="card-title mt-2 text-center">Success!</h2>
                    <hr>
                    <p class="text-center pt-5">You are logged in as <strong>{{ user.email }}</strong></p>
                    <div class="profile-details-container text-center">
                        <p>Enjoy the ride!</p>
                        <a href="{% url 'webdes' %}" class="back-link">Go to Web Designs</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}