{% extends "base-without-navbar.html" %}
{% block page_title %}WDS Register{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="registration-container">
  <div class="row justify-content-center">
    <div class="col-lg-6 d-none d-lg-block form-account-side-content">
      <h3 class="text-center p-5">Websites Design</h3>
      <div class="side-image"><a class="navbar-brand logo" href="/"><img src="/media/images/new_moon.png" width="300" height="300" alt="logo-websites-design-spot"></a></div>
        <h4 class="text-center">Explore, Imagin and Express your ideas</h4>
    </div>
    <div class="col-md-8 col-lg-6 pl-lg-0">
      <div class="card">
        <header class="card-header d-md-block d-lg-none">
          <a class="navbar-brand logo" href="/">
            <span>WD</span><img src="/media/images/new_moon.png" width="30" height="30" alt="logo-websites-design-spot">
          </a>  
        </header>
          <article class="card-body">
            <h2 class="card-title mt-2 text-center">Sign up to Websites Design Spot</h2>
            <hr>

            <form  method="post" action="{% url 'register' %}" class="accountform registration-form form-horizontal">
              <fieldset class="form-group text-center">
                <p>Create Account</p>
                <div id="legend">
                  <legend>Already have an account? <a href="{% url 'login' %}">Log In</a></legend>
                </div>
                {% csrf_token %}
              </fieldset>
              <div class="details-container">
                <!-- User name -->
                <div class="form-row">
                  <div id="div_id_username" class="col form-group">
                    <label for="id_username" class="control-label required-field ">Username</label>
                    <div class="">
                      <input type="text" name="username" maxlength="150" autofocus="" class=" form-control" required="" id="id_username" />
                      <p class="help-block">
                        Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- E-mail -->
                <div class="form-row">
                  <div id="div_id_email" class="col form-group">
                    <label for="id_email" class="control-label  ">Email address</label>
                    <div class="">
                      <input type="email" name="email" maxlength="254" class=" form-control" id="id_email" />
                    </div>
                  </div>
                </div>
                <!-- Password -->
                <div class="form-row">
                  <div id="div_id_password1" class="col form-group">
                    <label for="id_password1" class="control-label required-field ">Password</label>
                      <div class="">
                        <input type="password" name="password1" class=" form-control" required="" id="id_password1" />
                      </div>
                  </div>
                </div>
                <!-- Password Confirmation-->
                <div class="form-row">
                  <div id="div_id_password2" class="col form-group">
                    <label for="id_password2" class="control-label required-field">Password Confirmation</label>
                      <div class="">
                        <input type="password" name="password2" class=" form-control" required="" id="id_password2" />
                      </div>
                  </div>
                </div>
                <!-- Terms & Conditions -->
                <div class="form-group text-center mt-5 registration-terms">
                  <input type="checkbox" name="condition" required="" id="condition"> <span class="form-register-terms">I agree with the <a href="javascript:;">Terms &amp; Conditions</a> for Registration.</span>
                </div>
                <!-- Button -->
                <div class="form-group text-center">
                  <div class="input">
                    <button type="submit" class="btn btn-registration">Create account</button>
                  </div>
                </div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}
