{% extends "base-without-navbar.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="registration-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 d-none d-lg-block form-account-side-content">
            <h3 class="text-center mt-5 p-5">Websites Design</h3>
            <div class="side-image"><a class="navbar-brand logo" href="/"><img src="/media/images/new_moon.png" width="250" height="250"
                    alt="logo-websites-design-spot"></a></div>
        </div>
        <div class="col-md-8 col-lg-6 pl-lg-0">
            <div class="card">
                <header class="card-header d-md-block d-lg-none">
                    <a class="navbar-brand logo" href="/">
                        <span>WD</span><img src="/media/images/new_moon.png" width="30" height="30"
                            alt="logo-websites-design-spot">
                    </a>
                </header>
                <article class="card-body">
                    <h2 class="card-title mt-2 text-center">Log In to Websites Design Spot</h2>
                    <hr>

                    <form method="post" class="accountform">
                        <p>Please specify your email address to receive instructions for resetting it.</p>
                        <br>
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        {{ form.email.errors }}
                        <p class="p-3"><label for="id_email" class="control-label required-field">E-mail
                                address:</label> {{ form.email }} <input class="mt-3" type="submit"
                                value="Reset password" /></p>
                    </form>

                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}