{% extends 'base-without-navbar.html' %}
{% block page_title %}Success - Webdes Design Spot{% endblock %}
{% block content %}
<!-- header -->
  <div class="position-relative overflow-hidden p-5 text-center header-bg">
    <div class="col-sm-12 col-md-12 p-5 mx-auto">
      <div class="text-center">Success! Thank you for your message.</div>
    </div>
    <div class="col-sm-12 col-md-12 p-5 mx-auto">
      <h1 class="display-4 font-weight-normal header-title">Websites Design Spot</h1>
    </div>
    <div class="col-sm-12 col-md-12 p-5">
      <a class="logo-company" href="/"><img src="/media/images/new_moon.png" width="200" height="200" alt="logo-websites-design-spot"></a>
    </div>
  </div>
<!-- end header -->
{% endblock %}
