{% extends 'base-without-navbar.html' %}
{% block title %}Password reset successful{% endblock %}
{% block content %}
<!-- header -->
  <div class="position-relative overflow-hidden p-5 text-center header-bg">
    <div class="col-sm-12 col-md-12 p-5 mx-auto">
      <p class="text-center">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
      <p class="text-center">You should be receiving it shortly.</p>
    </div>
    <div class="col-sm-12 col-md-12 p-5 mx-auto">
      <h1 class="display-4 font-weight-normal header-title">Websites Design Spot</h1>
    </div>
    <div class="col-sm-12 col-md-12 p-5">
      <a class="logo-company" href="/"><img src="/media/images/new_moon.png" width="200" height="200" alt="logo-websites-design-spot"></a>
    </div>
  </div>
<!-- end header -->
{% endblock %}
