{% extends 'base.html' %}
{% block page_title %}Webdes Design Spot{% endblock %}
{% block content %}
<!-- all webdes gallery -->
<div class="webdes-container">
  <div class="row row-flex row-webdes m-0">
    {% for webdes in webdes %}
    <div class="col-sm-12 col-md-6 col-lg p-3">
      <div class="webdes panel-body">
        <a href="{% url 'webdes-detail' webdes.id %}"><div class="webdes-image frame" style="background-image: url('{{ MEDIA_URL }}{{ webdes.image }}')"></div></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- end all webdes gallery -->
{% endblock %}
