{% extends 'base.html' %}
{% block page_title %}Webdes Design Spot{% endblock %}
{% block content %}
<!-- home header -->
<div class="position-relative overflow-hidden p-5 text-center header-bg home-header">
  <div class="col-md-5 p-5 mt-5 mx-auto">
    <h1 class="display-4 font-weight-normal home-title mt-5">Websites Design Spot</h1>
  </div>
  <!-- welcome block -->
  <div class="home-welcome-block text-center col-md-5 p-5 mx-auto mt-5">
    <p class="lead font-weight-normal mt-5">
        Wellcome to our spot. Go around and have a look at the designs. Create an account and get in touch with us!
    </p>  
    <a class="btn btn-home" href="{% url 'login' %}">Get started</a>
  </div>
</div>
<!-- end home header -->

  <!-- <div class="product-device shadow-sm d-none d-md-block"></div> -->

<!-- home gallery -->
<div class="webdes-container">
  <div class="row row-flex row-webdes">
    {% for webdes in webdes %}
    <div class="col-sm-12 col-md-6 col-lg">
      <div class="webdes panel-body">
        <a href="{% url 'webdes-detail' webdes.id %}"><div class="webdes-image frame" style="background-image: url('{{ MEDIA_URL }}{{ webdes.image }}')"></div></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- end home gallery -->
{% endblock %}
