{% extends "base.html" %} {% load bootstrap4 %} {% block content %}
<div class="login-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mt-5">
                <header class="card-header">
                    <h4 class="card-title mt-2 text-center">Log In</h4>
                </header>
                <article class="card-body">
                    <div class="login-details-container">
                        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
                            <fieldset class="form-group form-login-details">
                            {% csrf_token %} {{ user_form }}
                                <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
