{% extends "base-without-navbar.html" %}
{% block page_title %}WDS Register{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="registration-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 d-none d-lg-block form-account-side-content">
             <h3 class="text-center p-5">Websites Design</h3>
            <div class="side-image"><a class="navbar-brand logo" href="/"><img src="/media/images/new_moon.png" width="250" height="250"
                    alt="logo-websites-design-spot"></a></div>
        </div>
        <div class="col-md-8 col-lg-6 pl-lg-0">
            <div class="card">
                <header class="card-header d-md-block d-lg-none">
                    <a class="navbar-brand logo" href="/">
                        <span>WD</span><img src="/media/images/new_moon.png" width="30" height="30" alt="logo-websites-design-spot">
                    </a>
                </header>
                <article class="card-body">
                    <h2 class="card-title mt-2 text-center">Log In to Websites Design Spot</h2>
                    <hr>
                    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
                        <fieldset class="form-group form-login-details">
                            {% csrf_token %} {{ user_form }}
                            <p><a href="{% url 'password_reset' %}">Forgot my password ...</a></p>
                            <button type="submit" class="btn btn-login">LogIn</button>
                        </fieldset>
                        <div class="">Not register? <a href="{% url 'register' %}">Sign Up now</a></div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}