<!-- TBD: Add validation of registration -->

{% extends "base.html" %} 
{% load bootstrap4 %}
{% block content %}
<div class="registration-container">
  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card mt-5">
  <header class="card-header">
    <h4 class="card-title mt-2 text-center">Sign up</h4>
  </header>
  <article class="card-body">
  <form  method="post" action="{% url 'register' %}" class="registration-form form-horizontal">
    <fieldset class="form-group text-center">
      <div id="legend">
          <legend>Create Account</legend>
      </div>
      <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
      {% csrf_token %}
    </fieldset>
    <div class="details-container">
      <!-- First Name -->
      <div class="form-row">
        <div class="col form-group">
          <label class="form-label" for="firstName">First Name </label>
            <input type="text" id ="firstName" name="firstName" class="form-control" placeholder="">
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-row">
        <div class="col form-group">
          <label class="form-label" for="lastName">Last Name</label>
            <input type="text" id ="lastName" name="lastName" class="form-control" placeholder="">
        </div>
      </div>
      <!-- E-mail -->
      <div class="form-row">
        <div class="col form-group">
          <label class="form-label" for="email">Email</label>
            <input type="text" id ="email" name="email" class="form-control" placeholder="">
        </div>
      </div>
      <!-- Password -->
      <div class="form-row">
        <div class="col form-group">
          <label class="form-label" for="password">Password</label>
            <input type="text" id ="password" name="password" class="form-control" placeholder="">
        </div>
      </div>
      <!-- Password Confirmation-->
      <div class="form-row">
        <div class="col form-group">
          <label class="form-label" for="passwordConfirm">Confirm Password</label>
            <input type="text" id ="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="">
        </div>
      </div>
      <!-- Terms & Conditions -->
      <div class="form-group text-center mt-5">
          <label><input type="checkbox" name="condition" id="condition"> I agree with the <a href="javascript:;">Terms &amp; Conditions</a> for Registration.</label>
      </div>
      <!-- Button -->
      <div class="form-group text-center">
        <div class="input">
          <button class="btn btn-success">Create Account</button>
        </div>
      </div>
    </div>
  </form>
  </article>
</div>
{% endblock %}
