{% extends "base-without-navbar.html" %}
{% block page_title %}WDS Register{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="registration-container">
  <div class="row justify-content-center">
    <div class="col-lg-6 d-none d-lg-block form-account-side-content">
      <div class="side-image"><img src="/media/images/new_moon.png" width="300" height="300" alt="logo-websites-design-spot"></div>
      <h1 class="text-center p-5">Explore, imagin and contact with us to express your ideas</h1>
    </div>
    <div class="col-md-8 col-lg-6 pl-lg-0">
      <div class="card">
        <header class="card-header d-md-block d-lg-none">
          <a class="navbar-brand logo" href="/">
            <span>WD</span><img src="/media/images/new_moon.png" width="30" height="30" alt="logo-websites-design-spot">
          </a>  
        </header>
          <article class="card-body">
             <h2 class="card-title mt-2 text-center">Sign up to Websites Design Spot</h2>
             <hr>
          <form  method="post" action="{% url 'register' %}" class="registration-form form-horizontal">
            <fieldset class="form-group text-center">
              <p>Create Account</p>
              <div id="legend">
                <legend>Already have an account? <a href="{% url 'login' %}">Log In</a></legend>
              </div>
              {% csrf_token %}
            </fieldset>
          <div class="details-container">
            <!-- First Name -->
            <div class="form-row">
              <div class="col form-group">
                <label class="form-label" for="firstName">First Name </label>
                  <input type="text" id ="firstName" name="firstName" class="form-control" placeholder="">
              </div>
            </div>
            <!-- Last Name -->
            <div class="form-row">
              <div class="col form-group">
                <label class="form-label" for="lastName">Last Name</label>
                  <input type="text" id ="lastName" name="lastName" class="form-control" placeholder="">
              </div>
            </div>
            <!-- E-mail -->
            <div class="form-row">
              <div class="col form-group">
                <label class="form-label" for="email">Email</label>
                  <input type="text" id ="email" name="email" class="form-control" placeholder="">
              </div>
            </div>
            <!-- Password -->
            <div class="form-row">
              <div class="col form-group">
                <label class="form-label" for="password">Password</label>
                  <input type="text" id ="password" name="password" class="form-control" placeholder="">
              </div>
            </div>
            <!-- Password Confirmation-->
            <div class="form-row">
              <div class="col form-group">
                <label class="form-label" for="passwordConfirm">Confirm Password</label>
                  <input type="text" id ="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="">
              </div>
            </div>
            <!-- Terms & Conditions -->
            <div class="form-group text-center mt-5 registration-terms">
                <input type="checkbox" name="condition" id="condition"> <span>I agree with the <a href="javascript:;">Terms &amp; Conditions</a> for Registration.</span>
            </div>
            <!-- Button -->
            <div class="form-group text-center">
              <div class="input">
                <button class="btn btn-registration">Create Account</button>
              </div>
            </div>
          </div>
        </form>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}
