{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %}

{% block content %}
<div class="cart-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mt-5">
                <header class="card-header text-center">
                    <h2 class="card-title mt-2">Some text here, ... template that you selected ...</h2>
                    <p>Proceed to checkout or edit...</p>
                </header>

                <div class="card-body card-checkout">
                    {% for item in cart_items %}
                    <div class="display panel panel-default panel-checkout">
                        <div class="panel-body">
                            <div class="checkout-items-details text-center">
                                <div class="webdes-image-checkout frame"
                                    style="background-image: url('{{ MEDIA_URL }}{{ item.webdes.image }}')"></div>
                                <h3>{{ item.webdes.name }}</h3>
                                <p>Price:&nbsp;{{ item.webdes.price }}€</p>
                            </div>
                        </div>
                        <!-- cart edit form -->
                        <form class="form-inline form-cart justify-content-center" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="input-group-addon">{{item.quantity}}&nbsp;</div>
                            <div class="form-group">
                                <label for="inputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty&nbsp;</div>
                                    <button type="submit" class="btn btn-primary btn-cart-edit"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
                                    <input name="quantity" type="number" min="0" max="999"
                                        class="form-control cart-qty">
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <!-- cart footer -->
                <div class="row cart-footer mt-5 pb-5 justify-content-center  bg-white rounded shadow-sm">
                    <div class="card-total mb-2 text-center highlight">Total:&nbsp;<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}&#8364;</div>
                    <div class="btn-cart">
                        <a href="{% url 'checkout' %}" class="btn  btn-lg btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                        <a href="{% url 'webdes' %}" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Back to Designs</a>
                    </div>
                </div>
                <!-- end cart footer -->
            </div>
        </div>
    </div>
</div>
{% endblock %}