@import url('https://fonts.googleapis.com/css?family=Chathura:400,700,800|Wire+One&display=swap');

body {
  font-family: Chathura;
  font-size: 2.5rem;
  margin: 0;
  background-color: #fff;
}

/* --- webdes page --- */

.webdes-container {
  padding: 20px;
}

.row-webdes {
  justify-content: center;
}

.col-lg {
  flex-grow: 0;
}

.webdes-image {
  width: 100%; 
  background-size: cover;
  max-width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.frame {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 250px;
  border: 8px solid #fff;
  border-top-color: #fff;
  border-radius: 0px;
  background-color: #f1f1f1;
  padding:18px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
}

/* --- end webdes page --- */


/* -- account forms -- */

.form-control {
  margin-right: 15px;
}

.log-container .navbar-nav {
  flex-direction: row;
}

.log-container li {
  padding-right: 15px;
}

.login-container, .profile-container {
  text-align: center;
}

.registration-container, .login-container, .profile-container {
  padding: 15px 15px 100px 15px;
}

#id_username_or_email, #id_password {
  width: 25%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 15px;
}

/* -- Contact -- */

.contact-details-container {
  padding: 50px;
}

.some-text {
  text-align: center;
}

/* -- Checkout form -- */

.checkout-container {
  padding: 10px;
}

.checkout-form-container {
  padding: 20px;
}

.webdes-image-checkout, .webdes-image-cart {
  width: 100%;
  height: 0; 
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

/* .card-checkout {
} */

.checkout-details {
  display: flex;
  justify-content: space-between;
}

.checkout-items-details {
  padding: 20px;
}

.panel-checkout {
  flex-grow: 0;
}

input, select {
  margin-right: 15px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
  display: block;
  width: 100%;
}

select {
  display: flex-inline;
  width: 25%;
}

label {
  margin-right: 0.5rem;
}

#id_cvv {
  margin-bottom: 30px;
}

.btn-payment {
  width: 70%;
  cursor: pointer;
  margin: 0 auto;
  padding: 40px;
}

.btn-secondary {
  font-size: 2rem;
}

/* -- Cart -- */
.webdes-image-cart {
  width: 100%;
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

.cart-footer {
  padding: 0 0 30px;
}

.form-cart {
  align-items: flex-start;
}

.btn-cart {
  padding: 0 20px; 
}

.btn-cart-edit, .cart-qty {
  margin-top: 10px;
} 

.btn-cart a {
  font-size: 2rem;
}

.btn-cart-edit {
  height: 40px;
  margin-right: 10px;
}


.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

/* -- Footer -- */

footer {
  padding: 50px;
  background-color: #ffffe6;
}


/* -- Media Queries -- */

@media only screen and (min-width: 401px) {
/* Checkout form */
  .card-checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .webdes-image-checkout {
    width: 250px;
    height: 150px;
  }

  .caption {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}


@media only screen and (min-width: 961px) {
  .btn-payment {
    width: 40%;
  }
}