@import url('https://fonts.googleapis.com/css?family=Chathura:400,700,800|Wire+One&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-font: #173460;
  --color-red: #ea4c88; 
  --color-green: #53c68c; 
  --color-blue: #3887b6; 
  --color-yellow: #f9de63;
  
}

body {
  font-family: 'Chathura', 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0;
  background-color: #fff;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

/* --- Navigation --- */
.navbar {
  background-color: var(--color-yellow);
}

.dropdown-toggle::after {
  vertical-align: 0;
  margin-left: 0;
  border-top: .2em solid;
  border-right: .2em solid transparent;
  border-bottom: 0;
  border-left: .2em solid transparent;
}

.dropdown-menu {
  font-size: 2rem;
  background-color: #000;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #fff;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #fff;
}

.search-box {
  display: flex;
}

.form-control-search, .btn-search {
  font-size: 2rem;
  height: calc(1em + .75rem + 2px);
}

.form-control-search {
  padding: 0 175px 0 15px;
  border: 1px solid #000;
  color: #000;
}

.btn-search {
  line-height: 0.5;
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.btn-search:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.fa-shopping-cart {
  font-size: 1rem;
}

/* --- home page --- */
.home-title, .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  font-size: 5rem;
  line-height: 0.7;
	letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 
              8px 8px #ea4c88,
              20px 20px #3887b6;
}

.home-welcome-block p {
  font-size: 1.5rem;
  padding-top: 50px;
  line-height: 1.3;
}

.btn-home {
  font-size: 2rem;
  color: #3887b6;
  border-color: #3887b6;
}

.btn-home:hover {
  color: #fff;
  background-color: #53c68c;
  border-color: #3887b6;
}

/* --- header --- */
.header-bg {
  background-color: #f9de63;
}

.header-title {
  padding: 0;
}

.card-header {
  background-color: var(--color-yellow);
  border: 0;
}

.header-bg::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.card-title {
  color: #000;
}

/* --- logo --- */
.logo-container {
  padding-bottom: 5px;
  padding-left: 75px;
}
  
/* --- webdes page --- */
.webdes-container {
  padding: 20px;
}

.row-webdes {
  justify-content: center;
}

.col-lg {
  flex-grow: 0;
}

.webdes-image {
  width: 100%; 
  background-size: cover;
  max-width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.frame {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 250px;
  border: 8px solid #fff;
  border-top-color: #fff;
  border-radius: 0px;
  background-color: #f1f1f1;
  padding:18px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
}
/* --- end webdes page --- */

/* --- forms --- */
.form-control {
  background-color: #fff !important;
  border: 1px solid #000;
  color: #000;
}

/* -- account forms -- */
.form-control {
  margin-right: 15px;
}

.log-container .navbar-nav {
  flex-direction: row;
}

.log-container li {
  padding-right: 15px;
}

.login-container, .profile-container {
  text-align: center;
}

.registration-container, .login-container, .profile-container {
  padding: 15px 15px 100px 15px;
}

#id_username_or_email, #id_password {
  width: 25%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 15px;
}

/* -- Contact -- */
.contact-details-container {
  padding: 50px;
}

.some-text {
  text-align: center;
}

.btnContact {
  border: 1px solid #000;
  color: #000;
}

.btnContact:hover {
  background-color: #000;
  color: #fff;
}

/* -- Checkout form -- */
.checkout-container {
  padding: 10px;
}

.checkout-form-container {
  padding: 20px;
}

.webdes-image-checkout, .webdes-image-cart {
  width: 100%;
  height: 0; 
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

.checkout-details {
  display: flex;
  justify-content: space-between;
}

.checkout-items-details {
  padding: 20px;
}

.panel-checkout {
  flex-grow: 0;
}

input, select {
  margin-right: 15px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
  display: block;
  width: 100%;
}

select {
  display: flex-inline;
  width: 25%;
}

label {
  margin-right: 0.5rem;
}

#id_cvv {
  margin-bottom: 30px;
}

.btn-payment {
  width: 70%;
  cursor: pointer;
  margin: 0 auto;
  padding: 40px;
}

.btn-secondary {
  font-size: 2rem;
}

/* -- Cart -- */
.webdes-image-cart {
  width: 100%;
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

.cart-footer {
  padding: 0 0 30px;
}

.form-cart {
  align-items: flex-start;
}

.btn-cart {
  padding: 0 20px; 
}

.btn-cart-edit, .cart-qty {
  margin-top: 10px;
} 

.btn-cart a {
  font-size: 2rem;
}

.btn-cart-edit {
  height: 40px;
  margin-right: 10px;
}

/* testing */
.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

/* -- Footer -- */
footer {
  padding: 50px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  font-size: 1.5rem;
}

.foot-link:hover {
  color: var(--color-red);
}

.btn-footer {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-footer:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.about-footer, .foot-link, .copyright a {
  color: var(--color-font);
}

/* -- Social links -- */
.social-links-footer {
  padding-top: 15px;
}

svg {
  display: inline-block;
  height: 5vw; 
  max-height: 50px;
  width: auto;
  stroke: var(--color-font);
  stroke-width: 10;
  fill: none; 
}

#in {stroke-dasharray:  300 , 0, 3000;}
#tw {stroke-dasharray:    0 , 0, 2300;}
#fb {stroke-dasharray:    0 , 0, 2900;}
#tblr {stroke-dasharray:  300 , 0, 3000;}
#gh {stroke-dasharray: 3200 , 0, 3000;}


svg:hover #in { animation: in .7s; }
svg:hover #tw { animation: tw .7s; }
svg:hover #fb { animation: fb .7s; }
svg:hover #tblr { animation: tblr .7s; }
svg:hover #gh { animation: gh .7s; }


@keyframes in { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray: 3300, 500, 3000;} }
@keyframes tw { 10% {stroke-dasharray:    0, 500, 2300} 100% { stroke-dasharray: 2300, 500, 2300;} }
@keyframes fb { 10% {stroke-dasharray:    0, 500, 2900} 100% { stroke-dasharray: 2900, 500, 2900;} }
@keyframes px { 10% {stroke-dasharray: 3200, 500, 3000} 100% { stroke-dasharray:6200, 500, 3000;} }



/*** -- Media Queries -- ***/
@media only screen and (min-width: 401px) {
/* Checkout form */
  .card-checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .webdes-image-checkout {
    width: 250px;
    height: 150px;
  }

  .caption {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}

@media only screen and (min-width: 961px) {
  .home-title, .header-title {
    font-size: 9rem;
  }

  .header-title {
    font-size: 7rem;
  }

  .home-welcome-block p {
    font-size: 2.5rem;
  }ct

  .btn-payment {
    width: 40%;
  }

  .logo-container {
    padding-left: 25px;
}
  
}
