@import url('https://fonts.googleapis.com/css?family=Chathura:400,700,800|Wire+One&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-white-bsw: #f1f1f1;
  --color-light-grey: #ebebeb;
  --color-light-medium-gray: #999;
  --color-dark-medium-gray: #444;
  --color-yellow: #f9de63;
  --color-green: #53c68c;
  --color-red: #ea4c88;
  --color-blue: #3887b6;  
}

body {
  font-family: 'Chathura', 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0;
  background-color: var(--color-light-grey);
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

h2 {
  font-weight: 900;
}

/* --- Navigation --- */
.navbar {
  background-color: var(--color-yellow);
}

.dropdown-toggle::after {
  vertical-align: 0;
  margin-left: 0;
  border-top: .2em solid;
  border-right: .2em solid transparent;
  border-bottom: 0;
  border-left: .2em solid transparent;
}

.dropdown-menu {
  font-size: 2rem;
  background-color: var(--color-black);
  margin-top: 20px;
}

.dropdown-item {
  color: var(--color-white);
}

.dropdown-item:hover {
  background-color: var(--color-white);
}

.nav-link {
  color: var(--color-black);
}

.nav-link:hover {
  color: var(--color-white);
}

.navbar-nav .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.search-box {
  display: flex;
}

.btn-search {
  line-height: 0.5;
  color: var(--color-black);
  border-color: var(--color-black);
  background-color: var(--color-white);
}

.btn-search:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-white);
}

.fa-shopping-cart {
  font-size: 1rem;
}

/* -- hamburguer menu -- */

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid var(--color-white);
  border-radius: .25rem;
}

.navbar-toggler:hover {
  background-color:black;
}

button:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-color: var(--color-white);
  height: 0.1rem;
  padding: 1px;
  margin: 5px;
  display: block;
}

.nav-item:hover {
  background-color: black;
  border-radius: .25rem;
  border: 1px solid black;
  /* margin-top: 15px; */
}


/* --- home page --- */
.home-title, .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  font-size: 5rem;
  line-height: 0.7;
	letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-white);
  text-shadow: 
              8px 8px var(--color-red),
              20px 20px var(--color-blue);
}

.home-welcome-block p {
  font-size: 1.5rem;
  padding-top: 50px;
  line-height: 1.3;
}

.btn-home {
  font-size: 2rem;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-home:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-white);
}

.webdes-image.webdes-image-home {
  min-height: 250px;
}

/* --- header --- */
.header-bg {
  background-color: var(--color-yellow);
}

.header-title {
  padding: 0;
}

.card-header {
  background-color: var(--color-yellow);
  border: 0;
}

.header-bg::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.card-title {
  color: var(--color-black);
}

/* --- logo --- */
.logo-container {
  padding-bottom: 5px;
  padding-left: 75px;
}
  
/* --- webdes page --- */
.webdes-container {
  padding: 20px;
}

.row-webdes {
  justify-content: center;
}

.col-lg {
  flex-grow: 0;
}

.webdes-image {
  width: 100%; 
  background-size: cover;
  max-width: 100%;
  height: 100%;
  min-height: 250px;
  padding-bottom: 50%;
  overflow: hidden;
}

.frame {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 300px;
  height: 250px;
  border: 8px solid var(--color-white);
  border-top-color: var(--color-white);
  border-radius: 0px;
  background-color: var(--color-white-bsw);
  padding: 18px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
}
/* --- end webdes page --- */

/* --- forms --- */
.form-control {
  background-color: var(--color-white) !important;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font-size: 1.5rem;
  margin-right: 15px;
}

.form-control-search, .btn-search {
  font-size: 2rem;
  height: calc(1em + .75rem + 2px);
}

.form-control-search {
  padding: 0 175px 0 15px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

form a {
  color: var(--color-red);
}

form a:hover {
  color: var(--color-blue);
}

/* -- account forms -- */

.log-container .navbar-nav {
  flex-direction: row;
}

.log-container li {
  padding-right: 15px;
}

.login-container, .profile-container {
  text-align: center;
}

.registration-container, .login-container, .profile-container {
  padding: 15px 15px 100px 15px;
}

#id_username_or_email, #id_password {
  width: 25%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: 0 15px;
}

.registration-terms {
  font-size: 1rem;
}

input[type=checkbox] {
  height: auto;
  display: unset;
  width: unset;
}

/* -- Contact -- */
.contact-details-container {
  padding: 15px 15px 100px 15px;
}

.some-text {
  text-align: center;
}

.btnContact {
  background-color: var(--color-green);
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.btnContact:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.form-control-contact {
  font-size: 1.5rem;
}

/* -- Checkout form -- */
.checkout-container {
  padding: 10px;
}

.checkout-form-container {
  padding: 20px;
}

.webdes-image-checkout, .webdes-image-cart {
  width: 100%;
  height: 0; 
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

.checkout-details {
  display: flex;
  justify-content: space-between;
}

.checkout-items-details {
  padding: 20px;
}

.panel-checkout {
  flex-grow: 0;
}

input, select {
  margin-right: 15px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-white-bsw);
  background-clip: padding-box;
  border: 1px solid var(--color-black);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
  display: block;
  width: 100%;
}

select {
  display: flex-inline;
  width: 25%;
}

label {
  margin-right: 0.5rem;
}

#id_cvv {
  margin-bottom: 30px;
}

.btn-payment {
  width: 70%;
  cursor: pointer;
  margin: 0 auto;
  padding: 40px;
}

.btn-secondary {
  font-size: 2rem;
}

/* -- Cart -- */
.webdes-image-cart {
  width: 100%;
  background-size: cover;
  padding-bottom: 50%;
  overflow: hidden;
}

.cart-footer {
  padding: 0 0 30px;
}

.form-cart {
  align-items: flex-start;
}

.btn-cart {
  padding: 0 20px; 
}

.btn-cart-edit, .cart-qty {
  margin-top: 10px;
} 

.btn-cart a {
  font-size: 2rem;
}

.btn-cart-edit {
  height: 40px;
  margin-right: 10px;
}

.badge {
  background-color: var(--color-blue);
}

/* -- webdes detail page -- */
.webdes-details {
  display: flex;
  font-size: 1.5rem;
}

 .webdes-detail-qty-form {
  width: 40%;
}

.qty-input {
  height: 39px;
}

.input-group>.form-control:not(:last-child) {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.webdes-price {
  padding-right: 20px;
}

.btn-webdes-detail {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}


/* testing */
.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

/* -- Footer -- */
footer {
  border-top: 2px solid var(--color-ligh-grey);
  background-color: var(--color-white);
  z-index: 2;
  position: relative;
  font-size: 1.5rem;
  color: var(--color-light-medium-gray);
  padding: 50px;
}

.footer-link {
  margin: 0;
}

.title-footer-link {
  color: var(--color-dark-medium-gray);
}

.foot-link {
  color: var(--color-light-medium-gray);
}

.foot-link:hover {
  color: var(--color-dark-medium-gray);
}

.btn-footer {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-footer:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.footer-bottom {
   border-top: 1px solid var(--color-light-grey);
}

.company-name {
  color: var(--color-light-medium-gray);
}

.company-name:hover {
  color: var(--color-green);
}


/* -- Social links -- */
.social-links-footer {
  padding-top: 15px;
}

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns a, .socialbtns i {
  margin: 0;
  padding: 5px;
}

.socialbtns .fab {
	width: auto;
  height: auto;
	color: var(--color-light-medium-gray);
	background-color: var(--color-white);
}

.socialbtns .fa-twitter:hover {
	color: #5bf;
}

.socialbtns .fa-tumblr:hover {
	color: #357;
}

.socialbtns .fa-facebook-square:hover {
	color: #45a;
}

.socialbtns .fa-github:hover {
	color: #211;
}

.socialbtns .fa-linkedin-in:hover {
	color: #08b;
}


/*** -- Media Queries -- ***/
@media only screen and (min-width: 401px) {

/* Checkout form */
  .card-checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .webdes-image-checkout {
    width: 250px;
    height: 150px;
  }

  .caption {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  /* footer */
  .footer-links-services {
    padding-left: 75px;
  }

  .socialbtns {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 961px) {
  .navbar {  
    font-size: 1.5rem;
  }

  .dropdown-menu {
    margin-top: 20px;
  }

  .dropdown-item {
      font-size: 1.5rem;
  }

  .home-title, .header-title {
    font-size: 9rem;
  }

  .header-title {
    font-size: 7rem;
  }

  .home-welcome-block p {
    font-size: 2.5rem;
  }

  .webdes-detail-image {
    min-height: 400px;
  }

  .webdes-detail-qty-form {
    width: 35%;
  } 

  .webdes-details {
    padding-top: 1rem;
}

  .btn-payment {
    width: 40%;
  }

  .logo-container {
    padding-left: 33px;
  }

  /* footer */
  .footer-links-services {
    padding-left: 200px;
  }

  .socialbtns {
    font-size: 1.5rem;
  }
  
}

@media only screen and (min-width: 1025px) {
  .navbar {
    font-size: 2rem;
  }

  .dropdown-menu.show {
    margin-top: 14px;
  }

  .dropdown-item {
      font-size: 2rem;
  }
}
