{% extends 'base.html' %} 
{% block page_title %}{{ webdes.name }}{% endblock %}
{% block page_heading %}{{ webdes.name }}{% endblock %}
{% block content %}

<div class="webdes-detail-container">
    <div class="row row-flex">
        <div class="col-sm-12 col-md-6 text-left">
            <p class="webdes-some-text">Some text here hola que tal hola que tal</p>
            <h2 class="webdes-detail-title">{{ webdes.name }}</h2>
            <hr class="">
                <p class="webdes-detail-description">{{ webdes.description|linebreaks }}</p>
            <hr class="">
            <p><strong>${{ webdes.price }}</strong></p>
            <form method="post" action="{% url 'add_to_cart' webdes.id %}">
                {% csrf_token %}
                <div class="input-group webdes-detail-button">
                    <span class="input-group-btn">
                        <button class="btn btn-success cart-add" type="submit">Add To Cart</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="webdes-detail-image" style="background-image: url('{{ MEDIA_URL }}{{ webdes.image }}')"></div>
        </div>
    </div>
</div>
{% endblock %}